* {
    box-sizing: border-box;
    margin: 0;
    }

.titulo {
    padding: auto;
    text-align: center;
}
.paragrafo {
    padding: auto;
    text-align: center;
}
.fundo {
    background: rgb(17, 22, 13);
}
.cabeçalho img {
max-width: 25%;
}

.cabeçalho {
    background-color: Gold;
    margin-top: 15px;
   margin-left: 15px;
   margin-right: 15px; 
   border-radius: 20px; 
}
.navegador img {
    width: 10%;
}
.cabeçalho li {
    list-style: none;
}

.contato {
   margin-left: 50%;
    text-align: center;
   list-style: none;
    width: 30%;
   
}
.contato a {
    margin: 15px;
    text-decoration: none;
    list-style: none;
}


.grade {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    
}

.rodape {
background-color: black;
color: Purple;
font-size: 20px;
margin-left: 15px;
margin-right: 15px;
}
.autor {
    margin-left: 50px;
}
.ano {
text-align: center;
}

.botao1 {
display: block;
margin-left: 50px;
}
.botao {
    display: block;
margin-left: 50px;
text-decoration: none;
background-color: Navy;
color: aqua;
}
.botao1 {
    display: block;
margin-left: 50px;
text-decoration: none;
background-color: Navy;
color: aqua;}

.botao2 {
    display: block;
margin-left: 50px;
text-decoration: none;
background-color: Navy;
color: aqua;}

.botao3 {
    display: block;
margin-left: 50px;
text-decoration: none;
background-color: Navy;
color: aqua;}

.botao4 {
    display: block;
margin-left: 50px;
text-decoration: none;
background-color: Navy;
color: aqua;}

.botao5 {
    display: block;
margin-left: 50px;
text-decoration: none;
background-color: Navy;
color: aqua;}

.botao2.2 {
    display: block;
margin-left: 50px;
text-decoration: none;
background-color: Navy;
color: aqua;}

.corpo img {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
    .corpo {
       margin-top: auto; 
       margin-left: auto;
       margin-right: auto;
       margin-bottom: auto;
    }
    .topo {
background-color: black;
    }
    .topo img {
    max-width: 10%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    }
.topo a {
    text-decoration: none;
    font-size: 100px;
    color:OrangeRed ;
    
}

.pagina {
    background-color:Violet ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 15px;
}
.pagina img {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    color: lime;
}