* {
    box-sizing: border-box;
    margin: 0;
    }

.titulo {
    padding: auto;
    text-align: center;
}
.paragrafo {
    padding: auto;
    text-align: center;
}
.fundo {
    background: rgb(17, 22, 13);
}

.cabeçalho {
    background-color: Gold;
    margin-top: 15px;
   margin-left: 15px;
   margin-right: 15px; 
   border-radius: 20px; 
}
.navegador img {
    width: 50%;
}
.cabeçalho li {
    list-style: none;
}

.contato {
   margin-left: 50%;
    text-align: center;
   list-style: none;
    width: 30%;
   
}
.contato a {
    margin: 15px;
    text-decoration: none;
    list-style: none;
}


.grade {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    
}

.barra {
    background-color: black;
}
.rodape {
background-color: black;
color: Purple;
font-size: 20px;
margin-left: 15px;
margin-right: 15px;
}
.autor {
    margin-left: 50px;
}
.ano {
text-align: center;
}

.botao1 {
display: block;
margin-left: 50px;
}
.botao {
    display: block;
margin-left: 50px;
}
.corpo img {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
    .corpo {
       margin-top: auto; 
       margin-left: auto;
       margin-right: auto;
       margin-bottom: auto;
    }
